@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/* shared styles */
:root {
    --common-black: #151414;
    --font-primary: 16px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border: 0;
    padding: 21px 25px;
    border-radius: 5px;
    background: #FFF;
    font-weight: 600;
    color: #005FAC;
    font-size: 20px;
}

main {
    max-width: 1040px;
    margin: 0 auto;
}

/* header style */
.header {
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    background-size: cover;
}

.banner {
    margin: 100px 150px 0px;
    width: 525px;
    text-align: right;
    float: right;

}

.banner-title {
    color: white;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: white;
    font-size: 16px;
}

/* failure style */
.failure-container {
    display: flex;
    gap: 130px;
    align-items: center;
    margin-top: 140px;
}

/* .failure-content {
    width: 50%;
} */

.person-img {
    width: 451px;
}

.failure-title {
    font-size: 40px;
    color: var(--common-black)
}

.failure-description {
    color: #444343;
    font-size: var(--font-primary);
    line-height: 26px
}

.failure-list {
    color: #444343;
    font-size: var(--font-primary);
    list-style: none;
    padding: 6px 0;
    margin-left: 0;
}

.failure-list::before {
    content: '\f00c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 10px;
    color: #16D887;
}

/* plan style */
.plan-container {
    margin-top: 130px;
}

.plan-header {
    text-align: center;
    font-size: 40px;
    color: var(--common-black);
    margin-bottom: 50px;
}

.plan-container img {
    width: 90px;
}

.plan-items {
    display: flex;
    justify-content: space-around;
}

.plan-title {
    color: var(--common-black);
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}

.plan-description {
    color: #737272;
}

/* contact style */
.contact {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    height: 300px;
    margin-top: 135px;
    padding-left: 64px;
    padding-top: 20px;
    background-repeat: no-repeat;
}

.contact-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}